Node-Red/Search_Engine
[
    {
        "id": "5230c72.fadcf38",
        "type": "tab",
        "label": "Sheet 1"
    },
    {
        "id": "42e221f7.8a124",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e89e99c4.29f4e8",
        "type": "MySQLdatabase",
        "z": "",
        "host": "107.180.96.116",
        "port": "3306",
        "db": "BakedEngine",
        "tz": ""
    },
    {
        "id": "2777e860.97f808",
        "type": "http request",
        "z": "5230c72.fadcf38",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "2998bb3b.254f44"
            ]
        ]
    },
    {
        "id": "71af67f2.fed1b8",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "2998bb3b.254f44",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Filter URLS",
        "func": "var matches = msg.payload.match(/\\bhttps?:\\/\\/\\S+/gi);\nmsg.payload = matches;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 360,
        "wires": [
            [
                "540d2c70.ca0914"
            ]
        ]
    },
    {
        "id": "540d2c70.ca0914",
        "type": "split",
        "z": "5230c72.fadcf38",
        "name": "",
        "splt": "\"",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "f3cb342b.f73438"
            ]
        ]
    },
    {
        "id": "f3cb342b.f73438",
        "type": "change",
        "z": "5230c72.fadcf38",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</script>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "'",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ">",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<img",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</a",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</li",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</link",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "</generator",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "dcb46397.7e1e5"
            ]
        ]
    },
    {
        "id": "352cce31.8d3222",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Create Table If Not Exists",
        "func": "msg.topic = \"CREATE TABLE IF NOT EXISTS BakedEngine.engine (domain VARCHAR(100), url VARCHAR(1000) PRIMARY KEY, type text, scanned integer);\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 20,
        "wires": [
            [
                "f1a474dc.67f188"
            ]
        ]
    },
    {
        "id": "a8875589.a6f8b8",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 450,
        "y": 20,
        "wires": [
            [
                "352cce31.8d3222"
            ]
        ]
    },
    {
        "id": "dcb46397.7e1e5",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Insert Results",
        "func": "msg.topic = \"INSERT IGNORE INTO BakedEngine.engine (url,scanned) VALUES (\\\"\" + msg.payload + \"\\\",0);\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1440,
        "y": 360,
        "wires": [
            [
                "1917c192.539e8e"
            ]
        ]
    },
    {
        "id": "e0ea9629.d87dd8",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Select All",
        "func": "msg.topic = \"SELECT * FROM BakedEngine.engine;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 60,
        "wires": [
            [
                "f1a474dc.67f188"
            ]
        ]
    },
    {
        "id": "eef80f07.a4b9b",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 560,
        "y": 60,
        "wires": [
            [
                "e0ea9629.d87dd8"
            ]
        ]
    },
    {
        "id": "963515a9.9cd4c8",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Select Unscanned",
        "func": "msg.topic = \"SELECT * FROM BakedEngine.engine WHERE scanned = 0 LIMIT 1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "6d9dcda4.91dc54"
            ]
        ]
    },
    {
        "id": "b29ce234.e6261",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "963515a9.9cd4c8"
            ]
        ]
    },
    {
        "id": "808feda4.2be14",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Clear DB",
        "func": "msg.topic = \"DROP TABLE BakedEngine.engine\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "f1a474dc.67f188"
            ]
        ]
    },
    {
        "id": "6c4c65c2.0efdfc",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "808feda4.2be14"
            ]
        ]
    },
    {
        "id": "4d68aa80.581014",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Set URL",
        "func": "msg.url = msg.payload[0].url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "2777e860.97f808",
                "229a1149.3c6dee"
            ]
        ]
    },
    {
        "id": "229a1149.3c6dee",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Update as Scanned",
        "func": "msg.topic = \"UPDATE BakedEngine.engine SET scanned = 1 WHERE url = \\\"\" + msg.url + \"\\\"\";\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "957ca6d1.92c778"
            ]
        ]
    },
    {
        "id": "f1a474dc.67f188",
        "type": "mysql",
        "z": "5230c72.fadcf38",
        "mydb": "e89e99c4.29f4e8",
        "name": "",
        "x": 1010,
        "y": 80,
        "wires": [
            [
                "71af67f2.fed1b8"
            ]
        ]
    },
    {
        "id": "6d9dcda4.91dc54",
        "type": "mysql",
        "z": "5230c72.fadcf38",
        "mydb": "e89e99c4.29f4e8",
        "name": "",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "4d68aa80.581014",
                "880358cc.f165b8"
            ]
        ]
    },
    {
        "id": "d6f84164.e318a",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Insert Results",
        "func": "msg.topic = \"INSERT INTO BakedEngine.engine (url,scanned) VALUES (\\\"http://www.bakedindustries.com/\\\",0);\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "f1a474dc.67f188"
            ]
        ]
    },
    {
        "id": "2fb5791c.c79d26",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "d6f84164.e318a"
            ]
        ]
    },
    {
        "id": "b97edbe1.ac0838",
        "type": "inject",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "963515a9.9cd4c8"
            ]
        ]
    },
    {
        "id": "880358cc.f165b8",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 660,
        "y": 579,
        "wires": []
    },
    {
        "id": "957ca6d1.92c778",
        "type": "mysql",
        "z": "5230c72.fadcf38",
        "mydb": "e89e99c4.29f4e8",
        "name": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "4f92195c.cd46a8"
            ]
        ]
    },
    {
        "id": "4f92195c.cd46a8",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "1917c192.539e8e",
        "type": "delay",
        "z": "5230c72.fadcf38",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "20",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1300,
        "y": 200,
        "wires": [
            [
                "f1a474dc.67f188"
            ]
        ]
    }
]
